<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HOMEPAGE</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">Fake Profiles</li>
        <li><a href="#top">Home</a></li>
	<li><a href="#about">About</a></li>
	<li><a href="../templates/login.html">Login</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->
  
    <!-- Full Page Image -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>MAKE FAKE PROFILES</h1>
        <h3><em>We</em> generate fake people, <em>You</em> have fun</h3>
        <a href="../templates/login.html" class="btn btn-default btn-lg">Register Here!</a>
      </div>
    </div>
    <!-- /Full Page Image -->
  
    <!-- Intro -->
    <div id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Profile Generator</h2>
	    <p>This profile maker has it all: pictures, names, hobbies, details, etc. The profiles even talk to each other!</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->

    <div class="callout"></div>
 
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><i class="fa fa-facebook fa-3x"></i></li>
              <li><i class="fa fa-twitter fa-3x"></i></li>
              <li><i class="fa fa-dribbble fa-3x"></i></li>
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    
    <!-- JavaScript -->
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <!-- Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

  </body>

</html>
