<html>

      <head>
	<title>Login Form</title>
	<link type="text/css" rel="stylesheet" href="../static/css/login.css" />
    <link rel="shortcut icon" href="../static/roboheart.jpg"/>
      </head>

      <body>
	<div id="wrapper">
	  <form name="login-form" class="login-form" action="" method="POST">	
		<div class="header">
		<h1>Login Form</h1>
		<span>Fill out the form below to login to the awesome fake profile generator!</span>
		</div>
	
		<div class="content">
		<input name="username" type="text" class="input username" placeholder="Username" />
		<div class="user-icon"></div>
		<input name="password" type="password" class="input password" placeholder="Password" />
		<div class="pass-icon"></div>		
		</div>

		<div class="footer">
		<input type="submit" name="submit" value="Login" class="button" />
		<input type="submit" name="submit" value="Register" class="register" />
		</div>	
	  </form>
        </div>
      </body>

<div class="gradient"></div>

</html>
