<html>
<head>
    <title>Fake Profiles</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="jquery.fittext.js"></script>
        </head>
        <body>
            <div id="generate">
                <h2>GENERATE</h2>
            </div>
            <div class="profile">
                <div>
                    <div class="container">
                        <header>{{name}}</header>
                        <img class="propic" src="../static/img/test_pic.jpg" />
                    </div>
                </div>
                <div>
                    <div class="container">
                        <header>About</header>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <header>Activity</header>
                    </div>
                </div>
            </div>
        </body>


</html>
