<html>
<head>
    <title>Fake Profiles</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/static/js/gen.js"></script>
        </head>
        <body>
	    <form method="POST">
		<input type ="submit"  id="generate" value="GENERATE"/>
		<input type ="submit"  id="generate" vaule="LOGOUT"/>
	    </form>
	    <ul>
	    {% for x in db %}
	    <li>
            <div class="profile">
                <div>
                    <div class="container">
                        <header>{{x.name}}</header>
			<img class="propic" src="{{x.image}}" />
                    </div>
                </div>
                <div>
                    <div class="container">
                        <header>About</header>
                        <table>
                            <tr>
                                <td>Name</td>
				<td>{{x.name}}</td>
                            </tr>
                            <tr>    
                                <td>Location</td>
                                <td>{{x.location}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{x.email}}</td>
                            </tr>
                            <tr>
                                <td>Call me</td>
                                <td>{{x.cell}}</td>
                            </tr>
                            <tr>
                                <td>Seeking</td>
                                <td>{{x.ori}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Hobbies
                                </td>
                                <td>
                                    {{x.hobbies}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    About me
                                </td>
                                <td>
                                    {{x.about}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <header>Activity</header>
                    </div>
                </div>
            </div>
	    </li>
	    {% endfor %}
	</ul>
        </body>


</html>
