<html>
<head>
    <title>Fake Profiles</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/static/js/gen.js"></script>
        </head>
        <body>
            <div id="generate">
                <h2>GENERATE</h2>
            </div>
	    {% for x in db %}
            <div class="profile">
                <div>
                    <div class="container">
                        <header>{{name}}</header>
			<img class="propic" src="{{image}}" />
                    </div>
                </div>
                <div>
                    <div class="container">
                        <header>About</header>
                        <table>
                            <tr>
                                <td>Name</td>
				<td>{{x.name}}</td>
                            </tr>
                            <tr>    
                                <td>Location</td>
                                <td>{{x.location}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{x.email}}</td>
                            </tr>
                            <tr>
                                <td>Call me</td>
                                <td>{{x.cell}}</td>
                            </tr>
                            <tr>
                                <td>Seeking</td>
                                <td>{{x.seeking}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Hobbies
                                </td>
                                <td>
                                    {{x.hobbies}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    About me
                                </td>
                                <td>
                                    {{x.about}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <header>Activity</header>
                    </div>
                </div>
            </div>
	    {% endfor %}
        </body>


</html>
